*{
    margin: 0;
    
    
    box-sizing: border-box;
}
.young-serif-regular  {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  
  .recipe-img img{
    width: 100%;
    border-radius: 15px;
    
  }
 body{
    background: hsl(30, 54%, 90%);
    
    
}
.widthWrapper{
    max-width: fit-content;
    margin-inline: auto;
    padding: 0 300px;
}
.intro h1{
    font-family: "Young Serif", serif;
    color: hsl(24, 5%, 18%);
}
.intro p{
    padding-top: 20px;
}
.content{
    background: white;
    
    border-radius: 20px;
    margin-top: 50px ;
    padding-bottom: 30px;
}
.inner-content{
    padding: 0 30px;
    display: grid;
    gap: 30px;
}
.recipe-img{
    padding: 30px;
}
.attribution{
    padding-top: 30px;
    display: grid;
    text-align: center;
}
.prep-time h3{
    color: hsl(332, 51%, 32%);
    
}
.prep-time{
    background: hsl(330, 100%, 98%);
    
    border-radius: 20px;
    padding-left: 3%;
    margin: 10px;
    
}
.prep-time h3{
    font-family: "Young Serif", serif;
    padding-bottom: 10px;
}
.prep-time ul span{
    color:  hsl(24, 5%, 18%);
    font-weight: 700;
    padding: 10px;
    
}
.prep-time li{
    padding: 5px;
}

.ingred  h2{
    color: hsl(14, 45%, 36%);
    padding-bottom: 10px;
    font-family: "Young Serif", serif;

}


.ingred li{
    padding-left: 10px;
    

}
.ingred hr{
    align-items: center;
    margin-top: 10px;
}
.ingred ul li{
    padding-bottom: 10px;
}  

.steps {
    padding-top: 15px;
}
.steps h2{
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    padding-bottom: 15px;
}
.steps ol span{
    color: hsl(24, 5%, 18%);
    font-weight: 700;
}
.steps ol li{
    align-items: center;
    padding-left: 15px;
    padding-bottom: 10px;
    line-height: 0.5cm;
}


.nutrition table{
    border-collapse: collapse;
}
.nutrition h2{
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    padding-bottom: 15px;
}
.nutrition tr:not(:last-child){
    border-bottom: 1px solid black;
    
}
.nutrition tr >*{
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
   
}

.nutrition th{
    text-align: left;
}
.nutrition td{
    padding-left: 300px;
}
.nutrition td{
    color: hsl(14, 45%, 36%);
}

@media(max-width:375px ){
    .widthWrapper{
        
        padding: 20px 20px 20px;
        position: sticky;
    }
}











